*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    margin: 0 auto;
}
.nav{
    padding: 40px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1440px;
    height: 104px;
    justify-content: space-between;
}
.nav-elements{
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}
h1{
   margin-right:550px;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;    
}
h2{
    font-family: Work Sans;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;  
    margin-top: 70px;
}
.h3{
    width: 360px;
    height: 177px;    
}
h3{
    font-family: Work Sans;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;   
    padding: 5px; 
}
.header-box h4{
    font-family: Work Sans;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;  
    padding: 5px;
}
.header-box p{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;    
}
.header-box{
    width: 416px;
    height: 128px;
}
.header-contents{
    width: 1296px;
    margin-top: 60px;
    margin-left: 2px;
    display: flex;
    gap: 80px;
}
.header-boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aboutus-history ul li{
    font-family: Work Sans;
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #5937E0;    
}
.section-about_us img{
    width: 1200px;
    height: 500px;
    border-radius: 15px;
}
.aboutus-history{
    display: flex;
    gap: 300px;
    margin-top: 50px;
}
.section-about_us{
    margin-left: 72px;
    margin-top: 100px;
    margin-bottom: 200px;
}
.aboutus-history ul p{
    font-family: Work Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: gray;    
}
h6{
    font-family: Work Sans;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;    
    margin-bottom: 20px;
}
.dowload-app p{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white;    
}
.dowload-icons img{
    width: 171px;
    height: 50px;   

}
.dowload-app{
    margin-left: 72px;
    width: 1296px;
    height: 444px;
    border-radius: 40px; 
    background-color: #5937E0;
    margin-bottom: 150px;
}
.dowload-text{ 
    width: 580px;
    height: 284px; 
    margin-right: 136px; 
    position: absolute;
    top: 1550px;
    right:100px;
}
.dowload-icons{
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.iphone{
    width: 367px;
    height: 540px;
    border-radius: 50px;    
    position: absolute;
    top: 1360px;
    left: 200px;
}
h3{
    font-family: Work Sans;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;    
    margin-bottom: 24px;
}
.looking-tel{
    font-family: Work Sans;
    font-weight: 600;
    font-size: 40px;
    leading-trim: Cap height;
    line-height: 26px;
    letter-spacing: 0%;
    color: white;    
    margin-bottom: 24px;
}
.looking-text{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;    
    color: white;    
    margin-bottom: 24px;
}
.section-looking_car button{
    width: 132px;
    height: 40px;
    border-radius: 12px;
    background-color: #FF9E0C;
    color: white;
}
.section-looking_car{
    width: 1296px;
    height: 427px;
    background-color:#5937E0 ;
    margin-left: 72px;
    border-radius: 20px;
}
.looking-texts{
    width: 586px;
    height: 266px;
    margin-left: 60px;
}
.footer{
    display: flex;
    gap: 112px;
    margin-top: 100px;
    margin: 0 auto;
    align-items: center;
    font-family: Work Sans;
    font-weight: 600;
    font-size: 16px;
    leading-trim: Cap height;
    line-height: 26px;
    letter-spacing: 0%;
    background-color: #5937E0;
    color: white;
    padding: 30px;
}